.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;  
}
.header {
  width: 100vw;
  height: 45px;
  background: red;
  display: flex;
}

.main {
  width: 100vw;
  flex:1;
  overflow: auto;
}

.footer {
  width: 100vw;
  height: 45px;
  background: red;
  display: flex;
  a {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}